.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--line
        a(href=routes.line)
            span
                i.fab.fa-line
            |Continue with Line