extends layouts/main

block content
    .form, requierd=true-container
        form(action=routes.login, method="post")
            input(type="email", name="email", placeholder="Email", requierd=true)
            input(type="password", name="password", placeholder="Password", requierd=true)
            input(type="submit", value="Log In")
        include partials/socialLogin